{{ define "item" }}
<article 
    class="item entry-item {{ if .user.EntrySwipe }}entry-swipe{{ end }} item-status-{{ .entry.Status }}{{ if .entry.Starred }} item-starred{{ end }}" 
    data-id="{{ .entry.ID }}"
    aria-labelledby="entry-title-{{ .entry.ID }}"
    tabindex="-1"
>
    <header class="item-header" dir="auto">
        <h2 id="entry-title-{{ .ID }}" span class="item-title">
            {{ if ne .entry.Feed.Icon.ExternalIconID "" }}
                <img src="{{ route "feedIcon" "externalIconID" .entry.Feed.Icon.ExternalIconID }}" width="16" height="16" loading="lazy" alt="{{ .entry.Feed.Title }}">
            {{ end }}
            <a target="_blank" data-set-read="{{ .user.MarkReadOnView }}" data-no-request="true" href="{{ .href }}">{{ .entry.Title }}</a>
        </h2>
        {{ if .pageEntriesType }}
            {{ if eq .pageEntriesType "all" }}
            <span class="category"><a href="{{ route "categoryEntriesAll" "categoryID" .entry.Feed.Category.ID }}">{{ .entry.Feed.Category.Title }}</a></span>
            {{ else if eq .pageEntriesType "starred" }}
            <span class="category"><a href="{{ route "categoryEntriesStarred" "categoryID" .entry.Feed.Category.ID }}">{{ .entry.Feed.Category.Title }}</a></span>
            {{ else }}
            <span class="category"><a href="{{ route "categoryEntries" "categoryID" .entry.Feed.Category.ID }}">{{ .entry.Feed.Category.Title }}</a></span>
            {{ end }}
        {{ else }}
        <span class="category"><a href="{{ route "categoryEntries" "categoryID" .entry.Feed.Category.ID }}">{{ .entry.Feed.Category.Title }}</a></span>
        {{ end }}
    </header>
    {{ template "item_meta" . }}
    {{ if and (eq .view "masonry") (ne .entry.CoverImage "") }}
    <div class="thumbnail">
        <a target="_blank" data-set-read="{{ .user.MarkReadOnView }}" data-no-request="true" href="{{ .href }}">
            <div class="image">
                <img class="lazy" 
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                    data-src="{{ proxyURL .entry.CoverImage }}" 
                    data-fallback-src="{{ fallbackProxyURL .entry.CoverImage }}">
                {{ if gt .entry.ImageCount 1 }}
            </div>
            <p class="badge">{{ t "entry.more_images" .entry.ImageCount }}</p>
            {{ end }}
        </a>
    </div>
    {{ end }}
</article>
{{ end }}